*{
margin:10px;
}
body{
background-color:#7b68ee;
}
h1{
text-align:center;
text-transform:capitalize;
font-family: 'Metal Mania', cursive;
font-size:40px;
}
h2{
padding:10px;
width:23%;
position:relative;
top:0%;
left:72.5%;
color:white;
background-color:brown;
border:2px solid black;
margin:0px;
text-align:center;

}
.cointainer{
max-width:1200px;
margin-left:auto;
margin-right:auto;
background-color:#2eba73;
height:180px;
border:2px solid black;
}
.box1{
background-color:red;
max-width:1200px;
margin-left:auto;
margin-right:auto;
height:180px;
border:2px solid black;
}

.box2{
background-color:#7fff00; 
max-width:1200px;
margin-left:auto;
margin-right:auto;
height:180px;
border:2px solid black;
}
@media (min-width:1200px){
.cointainer,.box1,.box2{
float:left;
margin:20px;
}
.cointainer{
width:25%;
overflow:hidden;
}
.box1{
width:25%;
overflow:hidden;
}
.box2{
width:25%;
overflow:hidden;
}

}


@media (min-width:950px) and (max-width:1199px){
.cointainer-1,.box1-1,.box2-1{
float:left;
}

.cointainer-1{
width:40%;

}
.box1-1{
width:40%;
position:relative;
left:5%;

}
.box2-1{
width:100%;
}

}


@media (max-width:780px){
.cointainer-2,.box1-2,.box2-2{
float:center;}


.cointainer-2{
width:70%;
}
.box1-2{
width:70%;

}
.box2-2{
width:70%;
overflow:auto;
